{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{object.title}}</title>
{% endblock %}

{% block metafacebook %}
    <meta property="og:image" content="{{ post.imagem_post.url }}">
{% endblock %}



{% block navbar %}
    <li><a class="nav-link active" href="{% url 'post_list' %}">Home</a></li>
	<li><a class="nav-link" href="#contact">Contatos</a></li>
{% endblock %}

{% block cabecalho %}
    	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
                                        {% if post.imagem_post %}
                                            <img class="img-fluid" src="{{ post.imagem_post.url }}" alt="" />
                                        {% else %}
                                            <img class="img-fluid" src="{% static 'images/logotulespintas.jpg' %}" alt="" />
                                        {% endif %}
									</div>
									<ul>
										<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&t={{ post.title }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
<!--										<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<br>
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>{{object.title}}</span> <i class="fa fa-heart-o" aria-hidden="true"></i></h2>g
								{% if post.promocao > 0 %}
									<h4>Preço: <del>{{ post.price }} €</del></h4>
									<h4>Promo: {{ post.promocao }} €</h4>
								{% else %}
									<h4>Preço: {{ post.price }} €</h4>
								{% endif %}
									<hr>
									<div class="container">
										{% if post.tamanho == "polonia" %}
											<table style="width:100%">
												<tr>
													<th>Tamanho</th>
													<th>Stock</th>
													<th>Tamanho</th>
													<th>Stock</th>
												</tr>
												<tr>
													<td>3 meses (62cm)</td>
													<td>{{post.stock_3_meses}}</td>
													<td>6 anos (116cm)</td>
													<td>{{post.stock_6_anos}}</td>
												</tr>
												<tr>
													<td>6 meses (68cm)</td>
													<td>{{post.stock_6_meses}}</td>
													<td>7 anos (122cm)</td>
													<td>{{post.stock_7_anos}}</td>
												</tr>
												<tr>
													<td>9 meses (74cm)</td>
													<td>{{post.stock_9_meses}}</td>
													<td>8 anos (128cm)</td>
													<td>{{post.stock_8_anos}}</td>
												</tr>
												<tr>
													<td>12 meses (80cm)</td>
													<td>{{post.stock_12_meses}}</td>
													<td>9 anos (134cm)</td>
													<td>{{post.stock_9_anos}}</td>
												</tr>
												<tr>
													<td>18 meses (86cm)</td>
													<td>{{post.stock_18_meses}}</td>
													<td>10 anos (140cm)</td>
													<td>{{post.stock_10_anos}}</td>
												</tr>
												<tr>
													<td>2 anos (92cm)</td>
													<td>{{post.stock_2_anos}}</td>
													<td>11 anos (146cm)</td>
													<td>{{post.stock_11_anos}}</td>
												</tr>
												<tr>
													<td>3 anos (98cm)</td>
													<td>{{post.stock_3_anos}}</td>
													<td>12 anos (152cm)</td>
													<td>{{post.stock_12_anos}}</td>
												</tr>
												<tr>
													<td>4 anos (104cm)</td>
													<td>{{post.stock_4_anos}}</td>
													<td>13 anos (158cm)</td>
													<td>{{post.stock_13_anos}}</td>
												</tr>
												<tr>
													<td>5 anos (110cm)</td>
													<td>{{post.stock_5_anos}}</td>
													<td>14 anos (164cm)</td>
													<td>{{post.stock_14_anos}}</td>
												</tr>
												<td></td>
											</table>
										{% else %}
											<table style="width:50%">
												<tr>
													<th>Tamanho</th>
													<th>Stock</th>
												</tr>
												<tr>
													<td>2/3 anos (90cm)</td>
													<td>{{post.stock_2_3_anos}}</td>
												</tr>
												<tr>
													<td>3/4 anos (100cm)</td>
													<td>{{post.stock_3_4_anos}}</td>
												</tr>
												<tr>
													<td>4/5 anos (110cm)</td>
													<td>{{post.stock_4_5_anos}}</td>
												</tr>
												<tr>
													<td>5/6 anos (120cm)</td>
													<td>{{post.stock_5_6_anos}}</td>
												</tr>
												<tr>
													<td>6/7 anos (130cm)</td>
													<td>{{post.stock_6_7_anos}}</td>
												</tr>
												<tr>
													<td>7/8 anos (140cm)</td>
													<td>{{post.stock_7_8_anos}}</td>
												</tr>
												<tr>
													<td>8/9 anos (150cm)</td>
													<td>{{post.stock_8_9_anos}}</td>
												</tr>
												<tr>
													<td>9/10 anos (160cm)</td>
													<td>{{post.stock_9_10_anos}}</td>
												</tr>
												<tr>
													<td>10/11 anos (170cm)</td>
													<td>{{post.stock_10_11_anos}}</td>
												</tr>
												<td></td>
											</table>
										{% endif %}
									<hr>
                                	{{object.content|safe}}
									</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
                <div id="events" class="events-box">
                    <div class="container">
                        <div class="row">
                            {% for pic in todos %}
                            {% if pic.galeria %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
								<ul class="popup-gallery clearfix">
									<div class="event-inner">
										<div class="event-img">
											<a href="{{ pic.galeria.url }}">
												<img class="img-fluid" src="{{ pic.galeria.url }}" alt="">
											</a>
										</div>
									</div>
								</ul>
                            </div>
                            {% else %}
                            {% endif %}
                            {%  endfor %}
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block contactos %}
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contate-nos</h2>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-12 col-sm-12 col-xs-12">


				  <div class="contact-block">
					<form method="post" action="{% url 'save_form' post.id %}">
						{% csrf_token %}
					  <div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Seu Nome" required data-error="Digite o seu nome">
								<div class="help-block with-errors"></div>
							</div>
						</div>
					    <div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="telm" name="telm" placeholder="Seu Número" required data-error="Digite o seu número">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Seu e-mail" id="email" class="form-control" name="email" required data-error="Digite o seu e-mail">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control" id="message" name="message" placeholder="Sua Mensagem" rows="8" data-error="Digite uma mensagem	" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Enviar</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div>
								<div class="clearfix"></div>
							</div>
						</div>
					  </div>
					</form>
				  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}