{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tules e Pintas</title>
{% endblock %}

{% block metafacebook %}
    <meta property="og:image" content="{% static 'images/logotulespintas.jpg' %}">
{% endblock %}



{% block navbar %}
    <li><a class="nav-link active" href="#home">Home</a></li>
    <li><a class="nav-link" href="#about">Sobre Nós</a></li>
    <li><a class="nav-link" href="#promocoes">Galeria</a></li>
{% endblock %}

{% block cabecalho %}
	<div class="home-slider">
		<ul class="rslides">
			<li><img src="{% static 'images/slider-TP01.jpg' %}" alt=""></li>
			<li><img src="{% static 'images/slider-TP02.jpg' %}"alt=""></li>
			<li><img src="{% static 'images/slider-03.jpg' %}" alt=""></li>
		</ul>
		<div class="lbox-details">
			<h1>Princesas com Tules e Príncipes com Pinta</h1>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="about-img">

							</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Banner -->

	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row align-items-center about-main-info">
					<div class="col-lg-12 text-center">
						<div class="title-box">
							<h2>Sobre Nós</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="about-m">
									<div class="about-img">
										<img class="img-fluid" src="{% static 'images/logotulespintas.jpg' %}" alt="" />
									</div>
									<ul>
										<li><a href="https://www.facebook.com/Princesascomtules" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://www.instagram.com/princesascomtules/" target="_blank"><i class="fa fa-instagram"></i></a></li>
<!--										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
									</ul>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12">
								<h2> <i class="fa fa-heart-o" aria-hidden="true"></i> <span>Princesas com Tules e Príncipes com Pinta</span> <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
								<p>Princesas com tules é um projecto de uma mamã babada pelas suas filhas , a essência são os tules , saias , vestidos e cor de rosa ❤
O closet da Maria e da Carlota é composto essencialmente por tudo isso que as faz tão felizes ❤
Mas as princesas também têm um mano, um príncipe cheio de pinta 😎 e a partir daí nasce " Princesas com tules e príncipes com pinta " , onde encontra roupas diferentes para meninos felizes 💙</p>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<!-- End About us -->
{% endblock %}


{% block artigos %}



	<!-- Start Promoçoes -->
	{% if items_promo > 0 %}
	<div id="promocoes" class="family-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Promoções</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% for post in promo %}
					{% if post.promocao > 0 %}
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="single-team-member">
							<div class="family-img">
								{% if post.imagem_post %}
									<a href="{% url 'post_detail' post.id %}"><img src="{{ post.imagem_post.url }}" class="img-responsive " width="100%" alt=""></a>
								{% else %}
									<a href="{% url 'post_detail' post.id %}"><img src="{% static 'images/logotulespintas.jpg' %}" class="img-responsive " width="100%" alt=""></a>
								{% endif %}
							</div>
							<div class="family-info">
								<h4>Preço: <del>{{ post.price }} €</del></h4>
								<h4>Promo: {{ post.promocao }} €</h4>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<br>
			<div class="submit-button text-center">
				<a href="{% url 'promo_list' %}" class="btn btn-common">Ver mais</a>
			</div>
		</div>
	</div>
	{% endif %}
	<!-- End Promoçoes -->

	<!-- Start Best Sales -->
	<div id="bestsales" class="family-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Os Mais Vendidos</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% for post in vendas %}
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="single-team-member">
							<div class="family-img">
								{% if post.imagem_post %}
									<a href="{% url 'post_detail' post.id %}"><img src="{{ post.imagem_post.url }}" class="img-responsive " width="100%" alt=""></a>
								{% else %}
									<a href="{% url 'post_detail' post.id %}"><img src="{% static 'images/logotulespintas.jpg' %}" class="img-responsive " width="100%" alt=""></a>
								{% endif %}
							</div>
							<div class="family-info">
								{% if post.promocao > 0 %}
									<h4>Preço: <del>{{ post.price }} €</del></h4>
									<h4>Promo: {{ post.promocao }} €</h4>
								{% else %}
									<h4>Preço: {{ post.price }} €</h4>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<br>
			<div class="submit-button text-center">
				<a href="{% url 'bestsales_list' %}" class="btn btn-common">Ver mais</a>
			</div>
		</div>
	</div>
	<!-- End Bestsales -->


	<!-- Start todos -->
	<div id="allproducts" class="family-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Todos Os Produtos</h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% for post in todos %}
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="single-team-member">
							<div class="family-img">
								{% if post.imagem_post %}
									<a href="{% url 'post_detail' post.id %}"><img src="{{ post.imagem_post.url }}" class="img-responsive " width="100%" alt=""></a>
								{% else %}
									<a href="{% url 'post_detail' post.id %}"><img src="{% static 'images/logotulespintas.jpg' %}" class="img-responsive " width="100%" alt=""></a>
								{% endif %}
							</div>
							<div class="family-info">
								{% if post.promocao > 0 %}
									<h4>Preço: <del>{{ post.price }} €</del></h4>
									<h4>Promo: {{ post.promocao }} €</h4>
								{% else %}
									<h4>Preço: {{ post.price }} €</h4>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<br>
			<div class="submit-button text-center">
				<a href="{% url 'todos_list' %}" class="btn btn-common">Ver mais</a>
			</div>
		</div>
	</div>
	<!-- End Todos -->
{% endblock %}
