{% load static %}

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-45F7GXXQDQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-45F7GXXQDQ');
    </script>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
	{% block title %}

	{% endblock %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/apple-touch-icon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/pogo-slider.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="{% url 'post_list' %}"><img src="{% static 'images/logotp.png' %}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
						{% block navbar %}{% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->

	<!-- Start Banner -->
	{% block cabecalho %}

	{% endblock %}

	{% block artigos %}

	{% endblock %}



	{% block paginacao %}{% endblock %}

	<!-- Start Contact -->
	{% block contactos %}

	{% endblock %}
	<!-- End Contact -->

	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">Todos os direitos reservados. &copy; 2021 <a href="#">Tules & Pintas</a> Design By : <a href="#">link</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- ALL JS FILES -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.pogo-slider.min.js' %}"></script>
	<script src="{% static 'assets/js/slider-index.js' %}"></script>
	<script src="{% static 'assets/js/smoothscroll.js' %}"></script>
	<script src="{% static 'assets/js/responsiveslides.min.js' %}"></script>
    <script src="{% static 'assets/js/timeLine.min.js' %}"></script>
	<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
    <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>